@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;600&family=Fredoka&family=Prata&family=Spinnaker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* 
font-family: 'Archivo', sans-serif;
font-family: 'Fredoka', sans-serif;
font-family: 'Prata', serif;
font-family: 'Spinnaker', sans-serif;

font-family: 'Acme', sans-serif;
*/