/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}
body{
    width: 100%;
}
a{
    text-decoration: none;
}
/* Fim Reset CSS */

/* Conteudo principal */
body{
    background-color: #1A425E;
}

.container{
    display: flex;
    flex-direction: column;
}

/* Fim conteudo principal */

/* Cabeçalho */
.cabeca{
    top: 0;
    background-color: #40739e;
    height: 7vh;
    border-bottom: 1px solid white;
}
.menu-nav{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}
.menu{
    display: flex;
    list-style: none;
}
.menu-link{
    color: white;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    height: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    align-items: center;
}
.menu-link:hover{
    background-color: #ffffff;
    color: rgb(21, 110, 151);
    transition: 0.7s;
}


/* Fim cabeçalho */

/* Conteudo inicial */

.conteudo-inical{
    display: flex;
    height: 88vh;
    flex-direction: column;
    justify-content: center;
    gap: 12vh;
    align-items: center;
    background: linear-gradient(#225d8885, #183950f3), url(./img/conteudo-inicial.jpeg);
    background-size: 100%;
}
.conteudo-inicial-mensagem{
    display: flex;
    align-items: center;
    border: 12px double white;
    border-radius: 30px;
    margin-top: 12vh;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.336);
    width: fit-content;
    height: fit-content;
}
.conteudo-inicial-mensagem:hover{
    color: #FBE46B
}

.conteudo-inicial-bv, .conteudo-inicial-sbv{
    color: white;
    text-align: center;
    text-shadow: #132f4277 2px 3px;
    font-weight: bold;
    font-family: 'Spinnaker', sans-serif;
}
.conteudo-inicial-bv{
    font-size: 2.1em;
}
.conteudo-youtube{
    border-bottom: 5px solid white;
}
.conteudo-youtube:hover{
    border-color: #ec003385;
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.botao-youtube{
    padding: 8px;
    height: 100%;
}

.conteudo-inicial-img{
    width: 76%;
}

/* FIM - Conteudo inicial */

/* Menu lateral */
.menu-lateral{
    margin-left: 2vw;
    position: sticky;
    top: 0;
    height: fit-content;

}
.menu-lateral-link{
    color: white;
    margin: 2vh;
    list-style: none;
    font-family: 'Fredoka', sans-serif;
}
.menu-lateral-nav{
    display: flex;
    flex-direction: column;
}
.menu-lateral-link:hover{
    transition: 0.4s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    padding: 0;
    width: fit-content;
}
/* Fim menu lateral */


/* Main- Conteudo principal */
.conteudo{
    display: flex;
    
}
.conteudo-principal-a, .conteudo-contato, .conteudo-doacoes{
    margin-left: 2vw;
    background: linear-gradient(#17486b9a, #1839501e);
}

.titulos{
    font-family: 'Fredoka', sans-serif;
    font-size: 3em;
    margin-bottom: 2vw;
    color: rgb(184, 187, 194);
    text-shadow: #ffffff 0.5px 0 2px;
    margin-left: 3.6vw;
}
.conteudo-sobre{
    height: 98vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.link-email{
    color: inherit;
    font-family: inherit;
}

.conteudo-sobre-email{
    height: 6vh;
    filter: invert(100%);
    margin-right: 1.2vw;
}

.conteudo-sobre-init, .conteudo-sobre-footer{
    display: flex;
    align-items: center;
}
.conteudo-sobre-iconyt{

    filter: invert(100%);
}
.conteudo-sobre-tituloa{
    

}
.conteudo-sobre-footer{
    margin-top: 3vw;
}
.conteudo-sobre-yt{
    height: 8.6vh;
    margin-right: 1.2vw;
}
.sobre-p{
    font-family: 'Prata', serif;
    font-weight: 540;
    font-size: larger;
    color: rgb(160, 164, 168);
    text-align: justify;
}

.conteudo-sobre-meta{
    margin-top: 5vh;
    background: linear-gradient(#225d8885, #183950f3), url(./img/coding-fundo.jpg);
    height: 20vh;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sobre-p-meta{
    font-family: 'Prata', serif;
    font-weight: 700;
    font-size: larger;
    color: rgb(209, 214, 219);
    text-align: center;
}

/* Conteudo blog */

.conteudo-blog{
    height: 98vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.conteudo-blog-articles{
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;


}
.conteudo-blog-videos{
    background-color: white;
    
    height: 25vh;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.conteudo-blog-thumb{
    height: 100%;
    filter: blur(3px);
}
.conteudo-blog-thumb:hover{
    filter: blur(0px);
    transition: 0.386s;
}

.conteudo-blog-nomeplaylist{
    position: absolute;
    color: white;
    text-shadow: 0px 0px 5px black;
    bottom: 0;
    width: 100%;
    padding: 3vh;
    background-color: #0e202c8f;
    font-family: 'Spinnaker', sans-serif;
}

.conteudo-blog-sub{
    font-family: inherit;
    color: rgb(184, 187, 194);
    text-shadow: #ffffff 0.5px 0 0.6px;
    font-family: 'Fredoka', sans-serif;
    font-size: 4vh;
    font-weight: 300;
}


/* FIM - Conteudo blog */

/* Doações */
.conteudo-doacoes-cont{
    display: grid;
    grid-template: "a b c d"
                    "e e e e"
                    "f f g g";
    height: 90vh;
    align-items: center;
}
.conteudo-doacoes-site{
    grid-area: a;
}
.conteudo-doacoes-videos{
    grid-area: b;
}
.conteudo-doacoes-pedidos{
    grid-area: c;
}
.conteudo-doacoes-doacoes{
    grid-area: d;
}
.conteudo-doacoes-presente{
    grid-area: e;
}
.conteudo-doacoes-imgpix{
    grid-area: f;
}
.conteudo-doacoes-pix{
    grid-area: g;
}
/* Fim grid */

.conteudo-doacoes-sbt{
    font-family: 'Fredoka', sans-serif;
    color: rgb(184, 187, 194);
    text-shadow: #ffffff 0.5px 0 0.2px;
    font-weight: 300;
    text-align: center;
    padding: 1.3vh;
}
.conteudo-doacoes-p{
    color: rgb(184, 187, 194);
    font-family: 'Prata', serif;
    text-align: center;
}

/* FIM - Doações */

/* Fim Main- Conteudo principal */

/* Aside- direita */

.menu-direita{
    margin-top: 2.5vh ;

}
.titulos-direita{
    margin-top: 2vh;
    margin-left: 0.9vw;
    color: white;
    font-family: 'Spinnaker', sans-serif;
    font-size: medium;
}
.menu-direita-art{
    border-bottom: 0.6px solid rgba(209, 209, 209, 0.801);
}

.menu-direita-ahk-img{
    max-width: 15vw;
    padding: 13px;
    filter: blur(2.3px);
}
.menu-direita-ahk-img:hover{
    filter: blur(3px) brightness(55%);
    transition: 0.3s;
}

#menu-direita-ig{
    margin-top: 50vh;
    padding-bottom: 4px;
    width: fit-content;
    border-bottom: 2px solid white;
}
.menu-direita-ig-img, .menu-direita-telegram-img, .menu-direita-discord-img{
    height: 2em;
    filter: invert(100%);
    padding-left: 3px;
}
.menu-direita-telegram-img{
    padding-right: 4px;
}
.menu-direita-discord-img{
    padding-right: 3px;
}
.link-ig, .link-telegram, .link-discord{
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    padding: 4px;
}
.link-ig:hover, .link-telegram:hover, .link-discord:hover{
    transition: 0.4s;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.1);
    padding: 0;
    width: fit-content;
}

p{
    font-family: inherit;
}

/* FIM Aside- direita */

/* Rodapé */
.rodape{
}
.rodape-link{
    color: white;
}
/* Fim rodapé */